@media only screen and (max-width:767px){
	.side_img{ width: 100%;}
	.side_img img{max-height: 60vh;}
	.inform{ width: 100%; margin-top: -20vh;}
	.input_field{width: 90%; margin: 4px 5%}
}
@media only screen and (min-width:768px) and (max-width:1023px){
	.side_img{ width: 40%;}
	.side_img img{min-height: 100vh;}
	.inform{ width: 60%;}
	.input_field{width: 90%; margin: 4px 5%}
}